@model BookServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Book Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Author: <b>@Model.Author</b></h6>
            <h6>
                Price: <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>
            <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
