@model IEnumerable<BookstoreCafe.Services.Books.Models.BookModel>


@{
    ViewBag.Title = "Our Bookstore";
}

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-lower">@ViewBag.Title</span>
        </h1>
    </header>
</head>

<div class="container mt-5 text-light">
    <hr class="bg-light" />

    <form asp-action="All" method="get" class="mb-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control text-dark border-secondary" placeholder="Search by title or author..." name="searchString" value="@ViewData["CurrentFilter"]" />
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-action="All" asp-route-sortOrder="@((string)ViewData["TitleSortParm"] == "title_asc" || ViewData["TitleSortParm"] == null ? "title_desc" : "title_asc")" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-light mx-1">Title</a>
            <a asp-action="All" asp-route-sortOrder="@((string)ViewData["AuthorSortParm"] == "author_asc" ? "author_desc" : "author_asc")" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-light mx-1">Author</a>
            <a asp-action="All" asp-route-sortOrder="@((string)ViewData["PriceSortParm"] == "price_asc" ? "price_desc" : "price_asc")" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-light mx-1">Price</a>
        </div>

    </form>

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow" style="height: 790px;">
                    <img class="card-img-top" height="575px" src="@book.ImageUrl" alt="@book.Title" />
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-primary">@book.Title</h5>
                            <p class="card-text text-dark">@book.Author</p>
                        </div>
                        <div>
                            <p class="card-text text-dark">$@book.Price</p>
                            <a href="@Url.Action("Details", "Books", new { slug = UrlHelper.GenerateSlug(book.Title, book.Author), id = book.Id })" class="btn btn-primary mt-auto">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
